*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

section#copro {
    display: flex;
    
}

section#corpo div#caixa-lampada{
    margin-left: 250px;
    margin-top: 200px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    
  
}


section#corpo h3#status{
    margin-bottom: 0px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section#corpo div#lampada{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
}


section#corpo div#caixa-lampada button#btn-lig{
    margin-top: 20px;

    background-color: grey;
    border: 1px solid black;
    border-radius: 3px;

    font-size: 15px;
    padding: 05px 35px;
}

section#corpo div#caixa-lampada button#btn-desl{
    margin-top: 20px;

    background-color: grey;
    border: 1px solid black;
    border-radius: 3px;

    font-size: 15px;
    padding: 05px 25px;
}

@media (max-width: 450px) {
    section#corpo div#caixa-lampada{
        margin-left: 40px;
    }
}